<a href="https://colab.research.google.com/github/Rainbowpen/AI_and_security_2020/blob/master/20201021_pandas_in_ten_min.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# import what we need.
import pandas as pd
import numpy as np

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
dates = pd.date_range('20201021', periods=6)
dates

DatetimeIndex(['2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
               '2020-10-25', '2020-10-26'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-10-21 -1.294156  0.589888 -1.003934 -0.841057
2020-10-22 -0.574704 -0.105710 -0.181293 -0.816070
2020-10-23 -1.017676 -0.254178 -0.848883 -0.575096
2020-10-24 -0.400351 -1.016167  0.577274  1.411828
2020-10-25  0.065043  0.733899  0.209262 -0.153606
2020-10-26 -1.572219  0.298818  1.198155 -1.900943

In [10]:
 df2 = pd.DataFrame({'A': 1.,
            'B': pd.Timestamp('20201021'),
            'C': pd.Series(1, index=list(range(4)), dtype='float32'),
            'D': np.array([3] * 4, dtype='int32'),
            'E': pd.Categorical(["test", "train", "test", "train"]),
            'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2020-10-21  1.0  3   test  foo
1  1.0 2020-10-21  1.0  3  train  foo
2  1.0 2020-10-21  1.0  3   test  foo
3  1.0 2020-10-21  1.0  3  train  foo