<a href="https://colab.research.google.com/github/Rainbowpen/AI_and_security_2020/blob/master/20201021_pandas_in_ten_min.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas in ten min notes 10/ 21/ 2020
[10 minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html#minutes-to-pandas)

### import all we need.

In [62]:
import pandas as pd
import numpy as np

### Object creation

Creating a Series by passing a list of values, letting pandas create a default integer index:

In [63]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:

pd.date_range("date_index1_format_in_yyyymmdd", index_size)

In [64]:
dates = pd.date_range('20201021', periods=6)
dates

DatetimeIndex(['2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
               '2020-10-25', '2020-10-26'],
              dtype='datetime64[ns]', freq='D')

In [65]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-10-21  0.101432  0.204162 -0.969108  1.123149
2020-10-22 -0.046813  0.618827 -0.214207  0.841476
2020-10-23  0.619177 -2.047334 -0.052190  2.604018
2020-10-24  0.417396  0.461080 -2.584827  0.096725
2020-10-25 -0.119892  1.469900 -1.928688  0.738520
2020-10-26 -0.560210  1.062971  0.700149 -2.138059

In [66]:
 df2 = pd.DataFrame({'A': 1.,
            'B': pd.Timestamp('20201021'),
            'C': pd.Series(1, index=list(range(4)), dtype='float32'),
            'D': np.array([3] * 4, dtype='int32'),
            'E': pd.Categorical(["test", "train", "test", "train"]),
            'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2020-10-21  1.0  3   test  foo
1  1.0 2020-10-21  1.0  3  train  foo
2  1.0 2020-10-21  1.0  3   test  foo
3  1.0 2020-10-21  1.0  3  train  foo

pd.dtypes
display types with columns

In [67]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

### Viewing data

Here is how to view the top and bottom rows of the frame:

pd.head(index_from_head)

In [68]:
df2.head(2)

     A          B    C  D      E    F
0  1.0 2020-10-21  1.0  3   test  foo
1  1.0 2020-10-21  1.0  3  train  foo

pd.tail(index_from_tail)

In [69]:
df2.tail(2)

     A          B    C  D      E    F
2  1.0 2020-10-21  1.0  3   test  foo
3  1.0 2020-10-21  1.0  3  train  foo

Display the index, columns:

pd.index

In [70]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

pd.columns

In [71]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

pd.to_numpy()

In [72]:
df.to_numpy()

array([[ 0.10143218,  0.20416171, -0.9691082 ,  1.12314852],
       [-0.0468132 ,  0.61882696, -0.21420692,  0.84147605],
       [ 0.61917663, -2.04733398, -0.05219034,  2.60401754],
       [ 0.41739601,  0.46107965, -2.58482721,  0.09672486],
       [-0.11989232,  1.46989985, -1.92868831,  0.73852026],
       [-0.56020993,  1.06297139,  0.70014876, -2.1380588 ]])

In [73]:
df2.to_numpy()

array([[1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

describe() shows a quick statistic summary of your data:

In [74]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.068515  0.294934 -0.841479  0.544305
std    0.417162  1.232672  1.235365  1.555565
min   -0.560210 -2.047334 -2.584827 -2.138059
25%   -0.101623  0.268391 -1.688793  0.257174
50%    0.027309  0.539953 -0.591658  0.789998
75%    0.338405  0.951935 -0.092694  1.052730
max    0.619177  1.469900  0.700149  2.604018

pd.sort_index(axis="0 or 1", ascending="bool or list of bools, default True")

In [75]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2020-10-26 -0.560210  1.062971  0.700149 -2.138059
2020-10-25 -0.119892  1.469900 -1.928688  0.738520
2020-10-24  0.417396  0.461080 -2.584827  0.096725
2020-10-23  0.619177 -2.047334 -0.052190  2.604018
2020-10-22 -0.046813  0.618827 -0.214207  0.841476
2020-10-21  0.101432  0.204162 -0.969108  1.123149

In [76]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-10-21  1.123149 -0.969108  0.204162  0.101432
2020-10-22  0.841476 -0.214207  0.618827 -0.046813
2020-10-23  2.604018 -0.052190 -2.047334  0.619177
2020-10-24  0.096725 -2.584827  0.461080  0.417396
2020-10-25  0.738520 -1.928688  1.469900 -0.119892
2020-10-26 -2.138059  0.700149  1.062971 -0.560210

### Getting

Selecting a single column, which yields a Series, equivalent to df.A:

In [77]:
df['A']

2020-10-21    0.101432
2020-10-22   -0.046813
2020-10-23    0.619177
2020-10-24    0.417396
2020-10-25   -0.119892
2020-10-26   -0.560210
Freq: D, Name: A, dtype: float64

Selecting via [], which slices the rows.

In [78]:
df[0:3]

                   A         B         C         D
2020-10-21  0.101432  0.204162 -0.969108  1.123149
2020-10-22 -0.046813  0.618827 -0.214207  0.841476
2020-10-23  0.619177 -2.047334 -0.052190  2.604018

### Selection by label

In [79]:
df.loc[dates[0]]

A    0.101432
B    0.204162
C   -0.969108
D    1.123149
Name: 2020-10-21 00:00:00, dtype: float64

In [80]:
df.loc[:, ['A', 'B']]

                   A         B
2020-10-21  0.101432  0.204162
2020-10-22 -0.046813  0.618827
2020-10-23  0.619177 -2.047334
2020-10-24  0.417396  0.461080
2020-10-25 -0.119892  1.469900
2020-10-26 -0.560210  1.062971

In [81]:
df.loc['20201021':'20201024', ['A', 'B']]

                   A         B
2020-10-21  0.101432  0.204162
2020-10-22 -0.046813  0.618827
2020-10-23  0.619177 -2.047334
2020-10-24  0.417396  0.461080

In [82]:
df.loc['20201023', ['A', 'B']]

A    0.619177
B   -2.047334
Name: 2020-10-23 00:00:00, dtype: float64

In [83]:
df.loc[dates[0], 'A']

0.1014321755655674

In [84]:
df.at[dates[0], 'A']

0.1014321755655674

### Selection by position

Select via the position of the passed integers:

In [85]:
df.iloc[3]

A    0.417396
B    0.461080
C   -2.584827
D    0.096725
Name: 2020-10-24 00:00:00, dtype: float64

By integer slices, acting similar to numpy/python:

In [86]:
df.iloc[3:5, 0:2]

                   A        B
2020-10-24  0.417396  0.46108
2020-10-25 -0.119892  1.46990

By lists of integer position locations, similar to the numpy/python style:

In [87]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2020-10-22 -0.046813 -0.214207
2020-10-23  0.619177 -0.052190
2020-10-25 -0.119892 -1.928688

For slicing rows explicitly:

In [88]:
df.iloc[1:3, :]

                   A         B         C         D
2020-10-22 -0.046813  0.618827 -0.214207  0.841476
2020-10-23  0.619177 -2.047334 -0.052190  2.604018

For slicing columns explicitly:

In [89]:
df.iloc[:, 1:3]

                   B         C
2020-10-21  0.204162 -0.969108
2020-10-22  0.618827 -0.214207
2020-10-23 -2.047334 -0.052190
2020-10-24  0.461080 -2.584827
2020-10-25  1.469900 -1.928688
2020-10-26  1.062971  0.700149

For getting a value explicitly:

In [90]:
df.iloc[1, 1]

0.6188269554007276

For getting fast access to a scalar (equivalent to the prior method):

In [91]:
df.iat[1, 1]

0.6188269554007276

### Boolean indexing

Using a single column’s values to select data.

In [92]:
df[df['A'] > 0]

                   A         B         C         D
2020-10-21  0.101432  0.204162 -0.969108  1.123149
2020-10-23  0.619177 -2.047334 -0.052190  2.604018
2020-10-24  0.417396  0.461080 -2.584827  0.096725

Selecting values from a DataFrame where a boolean condition is met.

In [93]:
df[df > 0]

                   A         B         C         D
2020-10-21  0.101432  0.204162       NaN  1.123149
2020-10-22       NaN  0.618827       NaN  0.841476
2020-10-23  0.619177       NaN       NaN  2.604018
2020-10-24  0.417396  0.461080       NaN  0.096725
2020-10-25       NaN  1.469900       NaN  0.738520
2020-10-26       NaN  1.062971  0.700149       NaN

Using the isin() method for filtering:

In [94]:
df2 = df.copy()
df2

                   A         B         C         D
2020-10-21  0.101432  0.204162 -0.969108  1.123149
2020-10-22 -0.046813  0.618827 -0.214207  0.841476
2020-10-23  0.619177 -2.047334 -0.052190  2.604018
2020-10-24  0.417396  0.461080 -2.584827  0.096725
2020-10-25 -0.119892  1.469900 -1.928688  0.738520
2020-10-26 -0.560210  1.062971  0.700149 -2.138059

In [95]:
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2
df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D     E
2020-10-23  0.619177 -2.047334 -0.052190  2.604018   two
2020-10-25 -0.119892  1.469900 -1.928688  0.738520  four