<a href="https://colab.research.google.com/github/Rainbowpen/AI_and_security_2020/blob/master/20201021_pandas_in_ten_min.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas in ten min 2020/10/21
### import what we need.

In [3]:

import pandas as pd
import numpy as np

### pd.Series()

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

### pd.date_range("date_index1_format_in_yyyymmdd", index_size)

In [7]:
dates = pd.date_range('20201021', periods=6)
dates

DatetimeIndex(['2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
               '2020-10-25', '2020-10-26'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-10-21 -1.294156  0.589888 -1.003934 -0.841057
2020-10-22 -0.574704 -0.105710 -0.181293 -0.816070
2020-10-23 -1.017676 -0.254178 -0.848883 -0.575096
2020-10-24 -0.400351 -1.016167  0.577274  1.411828
2020-10-25  0.065043  0.733899  0.209262 -0.153606
2020-10-26 -1.572219  0.298818  1.198155 -1.900943

In [10]:
 df2 = pd.DataFrame({'A': 1.,
            'B': pd.Timestamp('20201021'),
            'C': pd.Series(1, index=list(range(4)), dtype='float32'),
            'D': np.array([3] * 4, dtype='int32'),
            'E': pd.Categorical(["test", "train", "test", "train"]),
            'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2020-10-21  1.0  3   test  foo
1  1.0 2020-10-21  1.0  3  train  foo
2  1.0 2020-10-21  1.0  3   test  foo
3  1.0 2020-10-21  1.0  3  train  foo

### pd.dtypes
display types with columns

In [25]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

### pd.head(index_from_head)

In [26]:
df2.head(2)

     A          B    C  D      E    F
0  1.0 2020-10-21  1.0  3   test  foo
1  1.0 2020-10-21  1.0  3  train  foo

### pd.tail(index_from_tail)

In [28]:
df2.tail(2)

     A          B    C  D      E    F
2  1.0 2020-10-21  1.0  3   test  foo
3  1.0 2020-10-21  1.0  3  train  foo

### pd.index

In [29]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

### pd.columns

In [30]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

### pd.to_numpy()

In [32]:
df.to_numpy()

array([[-1.29415593,  0.58988792, -1.00393381, -0.84105659],
       [-0.5747036 , -0.10571024, -0.18129286, -0.81607017],
       [-1.01767579, -0.25417767, -0.84888336, -0.57509628],
       [-0.40035127, -1.01616662,  0.57727374,  1.41182777],
       [ 0.0650427 ,  0.73389925,  0.20926172, -0.15360621],
       [-1.57221876,  0.29881846,  1.19815517, -1.90094292]])

In [36]:
df2.to_numpy()

array([[1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

### pd.describe()

In [35]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.799010  0.041092 -0.008237 -0.479157
std    0.607728  0.644067  0.845406  1.091510
min   -1.572219 -1.016167 -1.003934 -1.900943
25%   -1.225036 -0.217061 -0.681986 -0.834810
50%   -0.796190  0.096554  0.013984 -0.695583
75%   -0.443939  0.517121  0.485271 -0.258979
max    0.065043  0.733899  1.198155  1.411828

### pd.sort_index(axis="0 or 1", ascending="bool or list of bools, default True")

In [38]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2020-10-26 -1.572219  0.298818  1.198155 -1.900943
2020-10-25  0.065043  0.733899  0.209262 -0.153606
2020-10-24 -0.400351 -1.016167  0.577274  1.411828
2020-10-23 -1.017676 -0.254178 -0.848883 -0.575096
2020-10-22 -0.574704 -0.105710 -0.181293 -0.816070
2020-10-21 -1.294156  0.589888 -1.003934 -0.841057

In [39]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-10-21 -0.841057 -1.003934  0.589888 -1.294156
2020-10-22 -0.816070 -0.181293 -0.105710 -0.574704
2020-10-23 -0.575096 -0.848883 -0.254178 -1.017676
2020-10-24  1.411828  0.577274 -1.016167 -0.400351
2020-10-25 -0.153606  0.209262  0.733899  0.065043
2020-10-26 -1.900943  1.198155  0.298818 -1.572219

### Selection by label

In [40]:
df.loc[dates[0]]

A   -1.294156
B    0.589888
C   -1.003934
D   -0.841057
Name: 2020-10-21 00:00:00, dtype: float64

In [41]:
df.loc[:, ['A', 'B']]

                   A         B
2020-10-21 -1.294156  0.589888
2020-10-22 -0.574704 -0.105710
2020-10-23 -1.017676 -0.254178
2020-10-24 -0.400351 -1.016167
2020-10-25  0.065043  0.733899
2020-10-26 -1.572219  0.298818

In [44]:
df.loc['20201021':'20201024', ['A', 'B']]

                   A         B
2020-10-21 -1.294156  0.589888
2020-10-22 -0.574704 -0.105710
2020-10-23 -1.017676 -0.254178
2020-10-24 -0.400351 -1.016167

In [45]:
df.loc['20201023', ['A', 'B']]

A   -1.017676
B   -0.254178
Name: 2020-10-23 00:00:00, dtype: float64

In [46]:
df.loc[dates[0], 'A']

-1.2941559302649357

In [47]:
df.at[dates[0], 'A']

-1.2941559302649357

### Selection by position

In [48]:
df.iloc[3]

A   -0.400351
B   -1.016167
C    0.577274
D    1.411828
Name: 2020-10-24 00:00:00, dtype: float64

In [49]:
df.iloc[3:5, 0:2]

                   A         B
2020-10-24 -0.400351 -1.016167
2020-10-25  0.065043  0.733899

In [50]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2020-10-22 -0.574704 -0.181293
2020-10-23 -1.017676 -0.848883
2020-10-25  0.065043  0.209262

In [51]:
df.iloc[1:3, :]

                   A         B         C         D
2020-10-22 -0.574704 -0.105710 -0.181293 -0.816070
2020-10-23 -1.017676 -0.254178 -0.848883 -0.575096

In [52]:
df.iloc[:, 1:3]

                   B         C
2020-10-21  0.589888 -1.003934
2020-10-22 -0.105710 -0.181293
2020-10-23 -0.254178 -0.848883
2020-10-24 -1.016167  0.577274
2020-10-25  0.733899  0.209262
2020-10-26  0.298818  1.198155

In [53]:
df.iloc[1, 1]

-0.10571023888323007

In [54]:
df.iat[1, 1]

-0.10571023888323007

### Boolean indexing

In [55]:
df[df['A'] > 0]

                   A         B         C         D
2020-10-25  0.065043  0.733899  0.209262 -0.153606

In [56]:
df[df > 0]

                   A         B         C         D
2020-10-21       NaN  0.589888       NaN       NaN
2020-10-22       NaN       NaN       NaN       NaN
2020-10-23       NaN       NaN       NaN       NaN
2020-10-24       NaN       NaN  0.577274  1.411828
2020-10-25  0.065043  0.733899  0.209262       NaN
2020-10-26       NaN  0.298818  1.198155       NaN

In [58]:
df2 = df.copy()
df2

                   A         B         C         D
2020-10-21 -1.294156  0.589888 -1.003934 -0.841057
2020-10-22 -0.574704 -0.105710 -0.181293 -0.816070
2020-10-23 -1.017676 -0.254178 -0.848883 -0.575096
2020-10-24 -0.400351 -1.016167  0.577274  1.411828
2020-10-25  0.065043  0.733899  0.209262 -0.153606
2020-10-26 -1.572219  0.298818  1.198155 -1.900943

In [59]:
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2
df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D     E
2020-10-23 -1.017676 -0.254178 -0.848883 -0.575096   two
2020-10-25  0.065043  0.733899  0.209262 -0.153606  four